[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "2.0"
async-trait = "0.1"
tokio = { version = "1.49.0", features = ["full"] }
log = "0.4"
env_logger = "0.11"
anyhow = "1.0.100"
